@model IEnumerable<ThAmCo.Events.Data.Menu>

@{
    ViewData["Title"] = "Menus";
}

<h1>Menus</h1>

<p>
    <a asp-action="Create">Add New Menu</a>
</p>

@foreach (var item in Model)
{
    <div style="border:dashed;">

        <h2>
            Menu: "@Html.DisplayFor(modelItem => item.MenuName)"
        </h2>
        <p>
            @Html.ActionLink("Edit", "Edit", new { menuId = item.MenuId }) |
            @Html.ActionLink("Delete", "DeleteWithConfimation", new { menuId = item.MenuId})
        </p>

        <table class="table">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Price</td>
                </tr>
            </thead>
            <tbody id="@($"MeunItems{item.MenuId}")" data-id="@item.MenuId">
               
            </tbody>
        </table>
    </div>
}


@section Scripts
{
    <script type="text/javascript" src="~/js/MenuLoader.js"></script>
}