@model IEnumerable<ThAmCo.Events.Data.Menu>

@{
    ViewData["Title"] = "index";
}

<h1>Menus</h1>

<p>
    <a asp-action="Edit">Add New Menu</a>
</p>
<table class="table">
  
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="@($"Menu{item.MenuId}")">
                <td>
                    @Html.DisplayFor(modelItem => item.MenuId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MenuName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { menuId = item.MenuId }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts
{
    <script type="text/javascript" src="~/js/MenuLoader.js"></script>
}